<!DOCTYPE html>
<html>
<head>
<title>This is an About page</title>
</head>
<body>

<h1>This is an About page</h1>
<p>This is a paragraph</p>


<%= link_to 'Home', root_path %>
<%= image_tag 'profilepic.jpg' %>
</body>
</html>