<!DOCTYPE html>
<html>
<head>
<title>about</title>
</head>
<body>

<h1>About Me</h1>
<p>
<div class = "about-container ";>
    <img class = "about-image well col-xs-8 col-xs-offset-2" src = 'assets/profilepic.jpg'></img>
    <div class = "about-me-description well col-xs-8 col-xs-offset-2">
  I have loved cooking ever since my mother first tought me how to make an omlet.
Ever since I have been facinated with the science behind cooking and flavor. I got my first resturant job when I was 14,
then I attended culinary school at Johnson and Wales.
After graduating with an associates degree in culinary science.
I went on to work at the spiced pear in the Chandler at Cliffwalk, 
and worked there while they where awarded "#3 inn in the USA and Canada. #65 hotel in the world" Travel and leiser magazine
    </div>
</div>
</p>
</body>
</html>